services:
  - type: web
    name: kah-nails-design
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18.0.0
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: false
